.footerSection {
    background: #fafafa;
    border-top: 1px solid #eee;
}

.footerTitle {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

.footerList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footerList li {
    margin-bottom: 8px;
}

.footerList a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.footerList a:hover {
    color: #111;
}

/* Newsletter */
.footerNewsletter {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.emailInput {
    border-radius: 0;
}

.subscribeBtn {
    background: #000;
    color: #fff;
    border-radius: 0;
}

.footerSocial a {
    font-size: 20px;
    color: #333;
    transition: 0.3s ease;
}

.footerSocial a:hover {
    color: #000;
}

.footerBottom {
    border-top: 1px solid #ddd;
    padding-top: 15px;
    font-size: 14px;
}

.footerBottom a {
    color: #000;
    text-decoration: none;
}
