.footer-section {
    background: #fafafa;
    border-top: 1px solid #eee;
}

.footer-title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-list li {
    margin-bottom: 8px;
}

.footer-list a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.footer-list a:hover {
    color: #111;
}

/* Newsletter */
.footer-newsletter {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.email-input {
    border-radius: 0;
}

.subscribe-btn {
    background: #000;
    color: #fff;
    border-radius: 0;
}

.footer-social a {
    font-size: 20px;
    color: #333;
    transition: 0.3s ease;
}

.footer-social a:hover {
    color: #000;
}

.footer-bottom {
    border-top: 1px solid #ddd;
    padding-top: 15px;
    font-size: 14px;
}

.footer-bottom a {
    color: #000;
    text-decoration: none;
}
